<!DOCTYPE html>
<html>
  <head>
    <title>Implementation of Meyvn's test service</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <% if notice %>
    <%= notice %>
  <% end %>

  <% if alert %>
    <%= alert %>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
